{% extends 'feed/main.html' %}

{% block content %}

<h1 class="feed">Feed</h1>


{% for feed in feeds %}
    <div class="feed-item container">
        <p class="user">posted by: {{ feed.user }}</p>
        <p class="caption">{{ feed.caption }}</p>
        {% if feed.image %}
            <img class="feed-image" src="{{ feed.image.url }}" alt="Feed Image" width="350px" height="300px">
        {% endif %}
        <p class="created-on">Created On: {{ feed.created_on }}</p>
        <div class="actions">
            <a href="{% url 'feed-id' feed.id %}" class="like" id="likeButton">Comment</a>
            
            {% if request.user.is_authenticated and request.user.id == feed.user.id %}
                <a href="{% url 'delete-feed' feed.id %}" class="like">Delete</a>
            {% endif %}
            
        </div>
    </div>
{% empty %}
    <p>No feeds available.</p>
{% endfor %}

{% endblock content %}

